<% layout("layouts/boilerplate") %>
<main class="flex show-container">
  <h1><%= resort.name %>, <%= resort.region %></h1>
  <div class="weather-card--container">
    <% for (const forecast of weather.DailyForecasts) { %>
    <div class="weather-card">
      <div class="weather-card--header">
        <% const date = new Date(forecast.EpochDate * 1000); %> <%=
        (date.getMonth() + 1) + '/' + date.getDate() %>
      </div>
      <div class="weather-card--body">
        <% const iconNumber = forecast.Day.Icon %> <%function
        formatIconNumber(iconNumber) { return iconNumber < 10 ? "0" + iconNumber
        : iconNumber; } %>
        <img
          src="https://apidev.accuweather.com/developers/Media/Default/WeatherIcons/<%= formatIconNumber(iconNumber) %>-s.png"
          alt=""
        />
        <span class="weather-card--temp"
          ><%= forecast.Temperature.Maximum.Value %>&deg; | <%=
          forecast.Temperature.Minimum.Value %>&deg;</span
        >
        <div class="weather-card--snow">
          <span>Snow <%= forecast.Day.SnowProbability %>%</span>
          <span
            ><%= forecast.Day.Snow.Value + forecast.Night.Snow.Value %>
            inches</span
          >
        </div>
      </div>
    </div>
    <% } %>
  </div>
  <div class="flex resort-content-container">
    <div class="card-container inline-block flow">
      <h2>Lift Status</h2>
      <% for (const liftName in resort.lifts.status) { %>
      <div class="lift-card flex">
        <h3 class="inline-block"><%= liftName %></h3>
        <span class="text-closed"><%= resort.lifts.status[liftName] %></span>
      </div>
      <% } %>
    </div>
    <div class="map-container">
      <div id="map" class="show-map"></div>
    </div>
  </div>
</main>

<script src="../javascripts/liftStatus.js"></script>
<script>
  const weatherToken = "<%- process.env.ACUWEATHER_API_KEY %>";
  const mapToken = "<%- process.env.MAPBOX_TOKEN %>";
  const coords = [
    "<%= resort.location.longitude %>",
    "<%= resort.location.latitude %>",
  ];
</script>
<script src="../javascripts/showPageMap.js"></script>
<script src="../javascripts/getLocationKey.js"></script>
<script src="../javascripts/getDate.js"></script>
